{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    {% if items %}
        <div class="row">
            <div class="card-panel col s12">
                <h3>Igraci</h3>
                <table id="player" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Igrac</th>
                        <th>Mesto</th>
                        <th>Pozicija</th>
                        <th>Klub</th>
                        <th>Datum rodjenja</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in items %}
                        <tr class="row_{{ player.id }}">
                            <td>{{ player.name }} {{ player.surname }}</td>
                            <td>{{ player.location.name }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.club.name }}</td>
                            <td>{{ player.birthDate| date("d.m.Y.") }}</td>
                            <td>
                                <a href="{{ path('edit_player', {id:player.id}) }}" class="btn btn-light">Edit</a>
                                <button class="btn waves-effect waves-light red delete_js" type="button" data-id="{{ player.id }}">Delete</button>
                                {#                            <a id="delete" href="{{ path('json_delete_player', {id:player.id}) }}" class="waves-effect waves-red btn delete-article" data-id="{{ player.id }}">Delete</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <br>
                <a class="btn-floating btn-large waves-effect waves-light red" href="{{path('addplayer')}}" ><i class="material-icons">add</i></a>
            </div>
        </div>
    {% else %}
        <p>No players to display</p>

        <a class="btn-floating btn-large waves-effect waves-light red" href="{{path('addplayer')}}"><i class="material-icons">add</i></a>

    {% endif %}
{% endblock %}

{% block customJavascripts %}
    <script>
        $(".delete_js").click(function () {
            var id = $(this).data('id');
            var data = {
                id: id,
            };
            var sFunction = function (response) {

                if(response){ // check whether response is received
                    console.log(response);
                    if (response.code == 200){
                        $('.row_' + id).remove();
                        M.toast({html: 'Successfully deleted!', classes: 'green darken-3'})
                    } else {
                        alert(response);
                    }
                }

            };
            adapter.delete("{{ path('json_delete_player') }}", data, sFunction);
        });
    </script>
{% endblock %}